# Python Basics

In [1]:
len? #explain some functions

In [2]:
L=[1,2,3]

In [3]:
L.insert?

In [4]:
L.insert(0,5) #기존에 있던 인덱스 0 앞에 5라는 object를 추가함

In [5]:
L

[5, 1, 2, 3]

In [6]:
L?

### 함수 만들기

In [ ]:
def square (a): 
    """square of a"""
    return a**2

In [9]:
square(2)

4

In [11]:
for N in range(1,4): #for function 1에서부터 3까지
    print(N, "squared is", square(N))

1 squared is 1
2 squared is 4
3 squared is 9

## Values and Variables

In [12]:
type("Hello, World")

str

In [13]:
message = "Hello World!" #A variable assigns a name to a value.
                         #Variables are nothing more than reserved memory locations that store values

In [14]:
length = 4.2
height = 3.5
area = length*height
print(area)

14.700000000000001

### variable names
#### - can only contain numbers, letters(both upper and lower) and underscores(_).
#### - must begin with a letter or an under score and are case sensitive.
#### - not allowed to use keywords

In [15]:
x = 1.0
X = 1.0 
X1 = 1.0
x1 = 1.0
dell = 1.0
dellreturns = 1.0
dellReturns = 1.0
x_ = 1.0

In [16]:
#return errors
x: = 1
1X = 1
X1-1 = 1
for = 1

SyntaxError: invalid syntax (<ipython-input-16-2feed67cade0>, line 2)

In [17]:
x, y, z = 1, 3.1415,'a'

In [18]:
print(x) ; print(y) ; print(z)

1
3.1415
a

## Core Data Types
* Floating Point(float) 실수
#### - created by simply including a decimal point in the number, or using float().
#### - float() function can also be used to convert other data types to a float, if possible.
#### - A floating point number approximates a real number (only finite precision, and finite range).

In [19]:
x = 1
type(x)

int

In [20]:
x = 1.0
type(x)

float

In [21]:
x = float(1)
type(x)

float

In [22]:
x = 1.234e-5
x

1.234e-05

* Complex( complex )
#### - created by using j (a+bj) or the function complex(a,b).

In [23]:
x = 1j
type(x)

complex

In [24]:
x = 2+3j
x

(2+3j)

In [25]:
x = complex(1)
x

(1+0j)

In [26]:
a = 1.5 + 0.5j
a

(1.5+0.5j)

In [27]:
a.real #숫자의 실수 부분을 반환함

1.5

In [28]:
a.imag #숫자의 허수 부분을 반환함

0.5

* Integers(int)
#### - can be created either by excluding the decimal, or explicitly using the int().
#### - int() function can also be used to convert other data types to an integer, if possible.
#### - unlimited range since the amount of bits used to store an integer is dynamic.

In [29]:
x = 1
type(x)

int

In [30]:
x = 1.0
type(x)

float

In [32]:
x = int(x) 
type(x)

int

* Boolean(bool)
#### - used to represent True or False, which are important for program flow control. 
#### - typically created as a result of relational / logical operations or you can use bool().
#### - Zero or empty values such as 0, 0.0, 0.0j, None, '' and [] are all False when evaluted by bool(), others generally evalute to True.

In [33]:
x = True
type(x)

bool

In [34]:
x = bool(1) 
x

True

In [35]:
x = bool(0.0) 
x

False

In [36]:
test = (3>4) 
test

False

## Operators
### Arithmetic Operators
#### '+' Adds values
#### '-' Subtracts values
#### '*' Multiplies values 
####  '/'  Divides values
#### '%' returns remainder ( 나머지 반환)
#### '**' performs exponential calculation
#### '//' Floor Division( 몫 반환)

### Relational Operators
#### - compare the two operands and return either True or False
#### - Assume variable a = 10 and variable b = 20, then
#### '==' : (a==b) is False
#### '!=' : (a!=b) is True
#### '>' : (a>b) is False
#### '<' : (a<b) is True
#### '>=' : (a>=b) is False
#### '<=' : (a<=b) is True

### Assignment Operators
#### '=' : c = a+b assigns value of a+b into c
#### '+=' : c += a is equivalent to c = c+a
#### '-=' : c -= a is equivalent to c = c-a
#### '*=' : c *= a is equivalent to c = c*a
#### '/=' : c /=a is equivalent to c = c/a
#### '&=' : c%=a is equivalent to c = c%a
#### '**=' : c **=a is equivalent to c = c**a
#### '//=' : c//=a is equivalent to c = c//a

In [37]:
#example
t = 0
t +=1 #t = t+1
t

1

In [38]:
t /=4 # t=t/4
t

0.25

### Logical Operators
#### - evaluate expressions down to Boolean values, returning either True or False
#### - Assume variable a = 10 and variable b = 20, then
#### 'and' : If both the operands are true then condition becomes true.
#### 'or' : If any of the two operands are non-zero then condition becomes true.
#### 'not' : Used to reverse the logical state of its operand.

In [42]:
#Assume a =10 and b=20
# (a and b) is True
# (a or b) is True
# not(a and b) is False

In [43]:
t

0.25

In [44]:
t > 0 and t < 1 #실제로 t 는 0에서 1 사이의 값임

True

In [45]:
not t <= 1

False

In [48]:
~2

-3

## Mathematical Function
### Built - in mathematical functions
#### abs(x) : Return the absolute value of a number
#### round(x[,n]) : Return x rounded to n precision after the decimal point. If n is omitted or is None, it returns teh nearest integer to its output.

### functions in math module
#### ceil(x) : Returns the smallest integer greater than or equal to x. (올림)
#### factorial(x) : Returns the factorial of x
#### floor(x) : Returns the largest integer less than or equal to x (내림)
#### infinite(x) : Returns True if x is neither an infinity nor a NaN (Not a Number)
#### ininf(x) : Returns True if x is a NaN
#### trunc(x) : Returns the truncated integer value of x (소수점 이하를 버림)
#### exp(x) : Returns e**x
#### log(x[,base]) : Returns the logarithm of x to the base(defaults to e)
#### log10(x) : Returns the base-10 logarithm of x
#### sqrt(x) : Returns the square root of x
#### cos(x) : Returns the cosine of x
#### sin(x) : Returns the sine of x
#### tan(x) : Returns the tangent of x
#### degrees(x) : Converts angle x from radians to degrees
#### radians(x) : Converts angel x from degrees to radians
#### pi : constant, the ratio of circumference of a circle to it's diameter(3.14159...)
#### e : constant e(2.71828...)

## math.floor() rounds down, math.ceiling() rounds up, and math.trunc() rounds towards zero. Thus, math.trunc is like math.floor for positive numers, and like math.ceiling for negative numbers

In [49]:
#math module example

In [50]:
import math

In [51]:
math.sqrt(2)

1.4142135623730951

In [52]:
math.log10(100)

2.0

In [74]:
math.log(math.e)

1.0

In [75]:
math.log(2,2)

1.0

In [54]:
math.exp(1)

2.718281828459045

In [55]:
 abs(-5)

5

In [56]:
round(math.pi, 4) # 소수점 넷째자리까지 반올림

3.1416

## Python I/O
### Python Output
#### - Using print() function
#### print( objects, sep=' ', end='\n', ...)
#### - sep separator is used between the values. It defaults into a space character.
#### - After all values are printed, end is printed. It defaults into a new line.

In [60]:
print(1,2,3,4) #values 사이에 한 칸 띄우는 sep=' ' 이 default임.

1 2 3 4

In [61]:
print(1,2,3,4, sep='*')

1*2*3*4

In [62]:
print(1,2,3,4, sep='#', end='&')

1#2#3#4&

In [63]:
print(1,2,3,4, sep='#', end=' ')
print(5,6,7,8, sep='#')

1#2#3#4 5#6#7#8

### Output formatting by format method
#### - the string's format method can be used to format our output to make it look attractive.
#### - the curly braces {} are used as placeholders. We can specify the order in which it is printed by using numbers(tuple index).

In [64]:
x = 5; y=10
print('The value of x is {} and y is {}'.format(x,y))

The value of x is 5 and y is 10

In [65]:
print('I love {1} and {0}'.format('bread', 'butter'))
#bread와 butter의 index는 각각 0과 1임

I love butter and bread

### Python Input
### Using input() function
#### - input() function allow us to take the input from the user.
#### - input( [prompt] )
#### - [prompt] is the string we wish to display on the screen. It is optional
#### - The entered value is a string. To convert this into a number we can use int() or float() functions

In [66]:
num = input('Enter a number:') #숫자를 입력해도 string으로 들어감

Enter a number:20

In [67]:
type(num)

str

In [68]:
float(num)

20.0

In [69]:
name = input('What is your name? :')

What is your name? :Kim

In [70]:
name

'Kim'