# Containers

## Strings
### - an immutable sequence of unicode characters (수정 불가)
### - Python has a rich facility for processing and manipulating strings

## Creating Strings
### - Strings are delimited using single quotes (' ') or double quotes(" ").
### - use str() to convert anything to string

In [3]:
"strings can go in double quoates"

'strings can go in double quoates'

In [4]:
'or they can go in single quotes'

'or they can go in single quotes'

In [5]:
"you can put single quotes(') in a string with double quotes on the outside"

"you can put single quotes(') in a string with double quotes on the outside"

In [6]:
'and vice versa : (") '

'and vice versa : (") '

In [9]:
print("""multi-line strings
can be created using 
three quote characters""")

multi-line strings
can be created using
three quote characters

In [10]:
print("multi-line string 
      cannot  be created using
      double quotes")

SyntaxError: EOL while scanning string literal (<ipython-input-10-35b89061dfd0>, line 1)

In [12]:
print("or I can make multi-line strings", '\n', 'by using "\\n"')

or I can make multi-line strings
 by using "\n"

## Accessing Values in Strings
### - For indexing and slicing, the square brackets [] are needed to contain the indices of the characters in a string. 

## Indexing vs Slicing
### - Indexing : to obtain individual characters
### - Slicing : to obtain substring

## Indexing
### - Strings( which has n letters) can be indexed, with the first character having index 0 and the last having index n-1
### -To start counting from the right, use negative index number ,starting with -1

In [13]:
word = 'Python'

In [17]:
for i in range(6):
    print(word[i], end=' ')

P y t h o n

## Slicing
### - x[ i : j ] : i is the index to start(inclusive), j is the index to end(exclusive)
### - x[ i : j : m ] : including the step size m. m can also be negative to select the elements in reverse order. (m은 공차의 역할을 한다)
### - Slice indices have useful defaults
### i=0, j=the size of the string being sliced, m=1

In [18]:
print(word[0:2], word[2:5])

Py tho

In [19]:
print(word[:])

Python

In [20]:
print(word[-2:])

on

In [21]:
print(word[::-1])

nohtyP

In [22]:
print(word[1:5:2], word[5:2:-1], word[5:1:-2])

yh noh nh

In [26]:
text = 'Python strings are sliceable'
text[10]

'i'

In [27]:
L = len(text)

In [29]:
print(L)

28

In [36]:
text[L::-1]

'elbaecils era sgnirts nohtyP'

## String operations
### '+' : Concatenation
### '*' : Repetition
### 'in' : Membership
### 'not in' : Membership

In [37]:
"123" + 4 #error, integer and string cannot be operated

TypeError: can only concatenate str (not "int") to str

In [38]:
"123" + str(4)

'1234'

In [39]:
int('123') + 4

127

In [40]:
a = 'Python'
print( a * 2)

PythonPython

In [41]:
'h' in a

True

In [42]:
'm' not in a

True

## Built-in String Functions & Methods
## Assume that x is a variable
### len(str) : Return string length
### x.find(str) : Determine if str occurs in string, returns index if found and -1 otherwise
### x.count(str) : Counts how many times str occurs in string
### x.lower() : Converts all uppercase letters in string to lowercase
### x.upper() : Converts all lowercase letters in strint to uppercase
### x.split(str) : Splits sting according to delimiter str (space if not provided) and returns list of substrings
### x.replace(old, new) : Replaces all occurrences of old in string with new
### x.startswith(str) : Determines if string starts with substring str; returns true if so and false otherwise
### x.endswith(suffix) : Determines if string ends with suffix ; returns true if so and false otherwise
### x.isalpha() : Return True if all characters are alphabetic, False otherwise
### x.isnumeric() : Return True if there are only numeric characters, False otherwise
### x.isalnum() : Return True if all characters are alphanumeric, False otherwise

In [43]:
myst = "GATTACA"
myst.find('ATT')

1

In [45]:
myst.find('C') #해당 str이 처음으로 등장하는 index값을 뱉음

5

In [46]:
myst.count('T') #해당 str이 몇 번 등장했는지 알려줌

2

In [47]:
myst.lower()

'gattaca'

In [48]:
myst.upper()

'GATTACA'

In [49]:
myst.replace('AT', '**')

'G**TACA'

In [50]:
myst.split("C")

['GATTA', 'A']

In [52]:
myst.startswith('G')

True

In [53]:
myst.isalpha()

True

In [54]:
myst.isalnum() #숫자와 string으로만 이루어져있는지 확인함

True

In [55]:
myst.isnumeric() #전부 숫자여야만 True 값이 나옴

False

## Immutable String
### - A string is an immutable object and it is not possible to modify its contents
### - Methods or operations on string do not modify the original string. They return a new string

In [56]:
sequence = 'ACGT'

In [57]:
sequence.replace('A', 'G')

'GCGT'

In [58]:
sequence #변화가 없음

'ACGT'

In [59]:
id(sequence) #객체 고유번호. 동일한 객체인지 판단하기 위해 쓰임

2238379066160

In [60]:
id(sequence) #계속 바뀌는 random한 넘버가 아님. 한 번 지정되면 바뀌지 않음.

2238379066160

In [61]:
sequence = sequence.replace('A', 'G')

In [62]:
sequence

'GCGT'

In [63]:
id(sequence)

2238379068976

In [64]:
sequence = "A" + sequence[1:]

In [65]:
sequence

'ACGT'

# Lists
## List
### - a mutable sequence of objects
### - essential to Python programming

## Creating Lists
### - Lists are constructed using square brackets, [], and items are separated using commas.
### - Items in a list need not be of the same type
### - To initiate a list, use [] or list().
### - You can convert other data types to list with list().

In [68]:
x1 = [1,2,3,4]
x2 = [1,1.0, 1+0j, 'one', None, True]
x3 = [[1,2,3,4], [5,6,7], [8,9]]
print(x1, x2, x3, sep='\n')

[1, 2, 3, 4]
[1, 1.0, (1+0j), 'one', None, True]
[[1, 2, 3, 4], [5, 6, 7], [8, 9]]

In [69]:
e1 = list()
type(e1)

list

In [70]:
len(e1)

0

In [71]:
list('cat')

['c', 'a', 't']

In [72]:
a_tuple = ('ready' , 'fire', 'aim')
list(a_tuple)

['ready', 'fire', 'aim']

In [74]:
a_tuple[0] = 'fire' #tuple is unmodifiable

TypeError: 'tuple' object does not support item assignment

## Accessing Items in lists
### - lists, like strings, can be indexed or sliced
### - Slicing 1 dimension list is identical to slicing strings

In [75]:
mylist = [5, 2.3, 'hello']

In [77]:
print(mylist[0], mylist[-1], mylist[-3], sep='\n')

5
hello
5

In [78]:
practice = [1, 55.5, "Am I in a list?", True, "the end"]
print(
practice[2:4],
practice[2:],
practice[:3],
practice[-4:-2],
practice[:-3],
practice[:3:2],
practice[:-2:2],sep='\n'
)

['Am I in a list?', True]
['Am I in a list?', True, 'the end']
[1, 55.5, 'Am I in a list?']
[55.5, 'Am I in a list?']
[1, 55.5]
[1, 'Am I in a list?']
[1, 'Am I in a list?']

### Multidimensional lists can also be indexed and sliced

In [79]:
x = [[1,2,3,4], [5,6,7,8]]

In [80]:
x[0]

[1, 2, 3, 4]

In [81]:
x[0][0]

1

In [82]:
x[0][1:2]

[2]

In [83]:
x[1][-3:-1]

[6, 7]

## Updating Lists
### we can update lists in several ways

In [84]:
color = ['red', 'blue', 'green', 'black', 'white']

In [85]:
color[0] = 'yellow'
color

['yellow', 'blue', 'green', 'black', 'white']

In [86]:
color[2:4] = ['gray', 'purple']

In [87]:
color

['yellow', 'blue', 'gray', 'purple', 'white']

In [88]:
color[1:4] = ['orange']

In [89]:
color

['yellow', 'orange', 'white']

In [90]:
color[1] = 'green'

In [91]:
color

['yellow', 'green', 'white']

In [92]:
color[1:] = 'red'

In [93]:
color

['yellow', 'r', 'e', 'd']

## Basic List Operations
### '+' : concatenation
### '*' : Repetition
### 'in' : Logical

In [95]:
first = [7,9, 'dog'] ; second=['cat', 13,14,12]
first + second

[7, 9, 'dog', 'cat', 13, 14, 12]

In [96]:
littlelist = [1,2,3]
3*littlelist

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [97]:
squarepairs = [[0,0], [1,1], [2,4], [3,9]]

In [98]:
[2,4] in squarepairs

True

## Built - in List Functions & Methods

### len(x) : Returns the number of elements in the list x
### min(x) : Returns the smallest element of the list x
### max(x) : Returns the largest element of the list x
### del x[slice] : Deletes the elements in slice
### x.append(value) : Appends value to the end of the list
### x.extend(list) : Appends the values in list to the existing list
### x.pop(index) : Removes the value in position index and returns the value. If no index is specified, x.pop() removes and returns the last item in the list
### x.remove(value) : Removes the first occurrence of value in the list
### x.count(value) : Counts the number of occurrences of value in the list
### x.insert(index, value) : Inserts value into list at offset index
### x.index(value) : Returns the lowes index in list that value appears
### x.sort() : Sort the items of the list, in place
### x.reverse() : Reverse the elements of the list, in place

In [99]:
x = []
for i in range(10):
    x.append(i)

In [100]:
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [101]:
del x[0]

In [102]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [103]:
del x[:3]
x

[4, 5, 6, 7, 8, 9]

In [104]:
del x[:] 
x

[]

In [105]:
for i in range(10):
    x.append(i)

In [106]:
len(x)

10

In [107]:
x.append(0) 
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [108]:
x.extend([11,12,13])

In [109]:
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 11, 12, 13]

In [110]:
x.pop()

13

In [111]:
x.pop(1)

1

In [112]:
x

[0, 2, 3, 4, 5, 6, 7, 8, 9, 0, 11, 12]

In [113]:
x.remove(3)

In [114]:
x

[0, 2, 4, 5, 6, 7, 8, 9, 0, 11, 12]

In [115]:
x.remove(0)
x

[2, 4, 5, 6, 7, 8, 9, 0, 11, 12]

In [116]:
colors = ['red', 'blue', 'green', 'black', 'white']
sorted(colors)  #알파벳 순

['black', 'blue', 'green', 'red', 'white']

In [117]:
colors

['red', 'blue', 'green', 'black', 'white']

In [118]:
colors.sort()
colors

['black', 'blue', 'green', 'red', 'white']

In [119]:
colors.reverse()
colors

['white', 'red', 'green', 'blue', 'black']

In [120]:
colors.insert(2, 'pink')
colors

['white', 'red', 'pink', 'green', 'blue', 'black']

In [121]:
colors.index('green')

3

In [122]:
colors.count('black')

1

## Coping List
### - To make a separate modifiable copy of a list, use[:] or the method copy( x.copy() )

In [125]:
pockets =[5,3,6,7]
pockets_copy = pockets
pockets_copy.append(1) 
pockets_copy

[5, 3, 6, 7, 1]

In [126]:
pockets #복사본을 수정했는데 원본도 영향을 받음

[5, 3, 6, 7, 1]

In [127]:
pockets_realcopy = pockets[:] #이 방법을 쓰면 원본은 영향을 받지 않음

In [128]:
pockets_realcopy.append(1) 
pockets_realcopy

[5, 3, 6, 7, 1, 1]

In [129]:
pockets

[5, 3, 6, 7, 1]

# Tuples
## Tuples
### - Tuples are basically immutable lists.

## Creation
### - To create a tuple, put different comma-separated elements, or put these comma-seperated values between parentheses ().
### - To initiate a list, use () or tuple()
### - To write a tuple containing a single value, you have to include a comma

In [130]:
t = (12345, 54321, 'hello!') 
t

(12345, 54321, 'hello!')

In [131]:
t2 = ()

In [132]:
t2

()

In [133]:
x = (2) ; type(x)

int

In [134]:
x= (2,) ; type(x)

tuple

### -sequence Unpacking & Tuple Packing

In [135]:
a = 12345, 54321, 'hello!' #tuple packing
a

(12345, 54321, 'hello!')

In [136]:
x, y, z = t #sequence unpacking
print(x,y,z, sep='\t')

12345	54321	hello!

### -The tuple() conversion function makes tuples from other iterable things like lists

In [137]:
marx_list = ['Groucho', 'Chico', 'Harpo'] 
tuple(marx_list)

('Groucho', 'Chico', 'Harpo')

## Accessing Values in Tuples
### - Tuples can be indexed or sliced in an identical manner as lists

In [139]:
x = (0,1,2,3,4,5,6,7,8,9)
print(x[5], x[-3], x[3:7:2], sep='\t')

5	7	(3, 5)

## Updating Tuples
### - Tuples are immutable : impossible to add/remove/replace elements in a tuple
### - Note that if a tuple contains a mutable data type, the contents mutable data type can be altered

In [140]:
tup1 = (12, 34.56)
tup1[0] = 100

TypeError: 'tuple' object does not support item assignment

In [141]:
x = ([1,2], [3,4])
x[0][1] = -10 #tuple 안에 있는 list는 mutable 이기 때문에 바꿀 수 있음
x

([1, -10], [3, 4])

## Basic Tuples Operations
### - Tuples respond to all of the general sequence operations we used on strings or lists

### '+' : Concatenation
### '*' : Repetition
### 'in' : Membership

In [142]:
tup1 = (3.14, 2.17)
tup2 = ('abc', 'xyz')
tup3 = tup1 + tup2
tup3

(3.14, 2.17, 'abc', 'xyz')

In [146]:
tup1[0:] + (3.17,) + tup2[1:]

(3.14, 2.17, 3.17, 'xyz')

In [147]:
tup1[0] ** 2

9.8596

## Built-in Tuple Functions & Methods
### - Python includes the following tuple functions and methods

### len(x) : Gives the total length of the tuple x
### max(x) : Returns item from the tuple x with max value
### min(x) : Returns item from the tuple x with min value
### x.index(value) : Returns the lowest index in the tuple x that value appears
### x.count(value) : Counts the number of occurrences of value in the tuple x

In [148]:
animals = ('laml' ,'sheep', 'lama', 48)
animals.index('lama')

2

In [149]:
animals.index(48)

3

In [150]:
animals.count('lama')

1

In [151]:
len(animals)

4

## Dictionaries
### - a mutable, unordered collection of key-value pairs.

## Creating Dictionaries
### - To create a dictionary using braces to create {key : value} pairs

### - Keys must be unique and of an immutable data type, such as strings, numbers, or tuples (which contain only immutable data).
### - The values of a dictionary can be of any type and may not be uniuqe. 

### - To initiate a dictionary, use {} or dict().

In [152]:
data = {'age':34, 'children':[1,2], 1:'apple'}
data

{'age': 34, 'children': [1, 2], 1: 'apple'}

In [153]:
type(data)

dict

In [154]:
dict1 = {}
dict2 = dict()
print(dict1, dict2)

{} {}

### You can use the dict() function to convert two-value sequences into a dictionary.

In [155]:
#A list of two-item tuples
lot = [ ('a', 'b'), ('c','d'), ('e','f')]
dict(lot)

{'a': 'b', 'c': 'd', 'e': 'f'}

In [157]:
lol = [ ['a','b'], ['c','d'], ['e','f']]
dict(lol)

{'a': 'b', 'c': 'd', 'e': 'f'}

In [158]:
#A list of two-character strings
los = ['ab', 'cd', 'ef']
dict(los)

{'a': 'b', 'c': 'd', 'e': 'f'}

### Accessing Values in Dictionary
### - To access dictionary elements, you can use the square brackets [] along with the key to obtain its value.

In [159]:
dict = {'Name':'Zara', 'Age':7, 'Class':'First'} 
dict['Name']

'Zara'

In [160]:
dict['Age']

7

In [163]:
dict.keys()

dict_keys(['Name', 'Age', 'Class'])

In [164]:
dict.values()

dict_values(['Zara', 7, 'First'])

### Updating Dictionary
### - To add an item to a dictionary, just refer to the item by its key and assign a value.
### - If the key was already present in the dictionary, the existing value is replaced by the new one.

In [165]:
dict = {'Name':'Zara', 'Age':7, 'Class':'First'} 
dict['Age'] = 8 # update existing entry
dict['School'] = 'ABC school' # add new entry
dict

{'Name': 'Zara', 'Age': 8, 'Class': 'First', 'School': 'ABC school'}

In [166]:
pythons = {'Chapman':'Graham', 'Cleese':'John', 'Jones':'Terry', 'Palin':'Michael'}
'Chapman' in pythons

True

In [167]:
'Chris' not in pythons

True

In [168]:
'Giliam' in pythons

False

### Built-in Dictionary Functions & Methods
### - Python includes the following dictionary functions and methods.

### len(x) : Gives the number of items in the dictionary x
### del x[key] : Deletes the entry with key in the dictionary x
### x.clear() : Removes all elements of the dictionary x
### x.items() : Returns the dictionary x's (key, value) tuple pairs
### x.keys() : Returns the dictionary x's keys
### x.values() : Returns the dictionary x's values
### x.update(dict2) : Adds dict2's key-values pairs to the dictionary x

In [169]:
dict = {'Name':'Zara', 'Age':7, 'Class':'First'}
type(dict)

dict

In [170]:
del dict['Name']
dict

{'Age': 7, 'Class': 'First'}

In [171]:
dict.clear()
dict

{}

In [172]:
del dict
dict

dict

In [173]:
d = {'a':1, 'b':2, 'cat':'Fluffers'} 
d.keys()

dict_keys(['a', 'b', 'cat'])

In [175]:
list(d.keys())

['a', 'b', 'cat']

In [176]:
d.values()

dict_values([1, 2, 'Fluffers'])

In [177]:
list(d.values())

[1, 2, 'Fluffers']

In [178]:
d.items()

dict_items([('a', 1), ('b', 2), ('cat', 'Fluffers')])

In [179]:
'cat' in d

True

In [180]:
d2 = {'apples':1, 'oranges':3, 'pears':2}
ud = {'pears':4, 'grapes':5, 'lemons':6, 'apples':3}
d2.update(ud) 
d2

{'apples': 3, 'oranges': 3, 'pears': 4, 'grapes': 5, 'lemons': 6}

### Coping Dictionary
### - To make a separate modifiable copy of a dictionary, use the method copy

In [181]:
#list 와 동일한 method임.

In [183]:
dict1 = {'Name':'Manni', 'Age':7, 'Class':'First'} 
newdict1 = dict1.copy()
del newdict1['Age']
newdict1

{'Name': 'Manni', 'Class': 'First'}

In [184]:
dict1

{'Name': 'Manni', 'Age': 7, 'Class': 'First'}

In [185]:
newdict2 = dict1
del newdict2['Age']
newdict2

{'Name': 'Manni', 'Class': 'First'}

In [186]:
dict1

{'Name': 'Manni', 'Class': 'First'}

## Sets

### - an unordered collection with immutable and unique elements
## Creating sets
### - Curly braces {} or the set() function can be used to create sets
### - You can create a set from a list, string, tuple, or dictionary (only the keys), discarding any duplicate values, by the set() function.
### - To create an empty set you have to use set(), not {}

In [187]:
empty_set = set()
empty_set

set()

In [188]:
even_numbers = {0,2,4,6,8,4,2}
even_numbers

{0, 2, 4, 6, 8}

In [189]:
set('letters')

{'e', 'l', 'r', 's', 't'}

In [190]:
set(['Dasher', 'Dancer', 'Prancer', 'Mason-Dixon'])

{'Dancer', 'Dasher', 'Mason-Dixon', 'Prancer'}

In [191]:
set({'apple':'red', 'orange':'orange', 'cherry':'red'})

{'apple', 'cherry', 'orange'}

In [192]:
{[1,2] , [3,4,5]}

TypeError: unhashable type: 'list'

In [194]:
{(1,), (3,4,5)} # list 대신 tuple 사용하면 위의 에러 해결

{(1,), (3, 4, 5)}

### Accessing or Updating items in a Set by Indexing/Slicing 
### - Sets do not support indexing, slicing, or other sequence-like behavior.

In [195]:
s1 = set([1,3,5,2,4,6,5,1,4])
s1

{1, 2, 3, 4, 5, 6}

In [196]:
s1[0]

TypeError: 'set' object is not subscriptable

In [197]:
s1[1:4]

TypeError: 'set' object is not subscriptable

### Basic Set Operations
### - Set objects support the in/not in operation for membership testing and other mathematical set operations like union or intersection. 
### - Assume A={1,2,3,4}, B={1,2}, C={3,4,5}, D={2,1}

### 'in' : 1 in A returns True
### 'not in' : 5 not in A returns True
### '==' : B==D returns True
### '!=' : B!=D returns False
### <= (issubset) : B<=A returns True (포함관계)
### >= (issuperset) : A>=B returns True
### - (difference) : A-B returns {3,4} (차집합)
### & (intersection) : A&C returns {3,4} (교집합)
### | (union) : A|C returns {1,2,3,4,5} (합집합)
### ^ (symmetric_difference) : A^C returns {1,2,5}

In [198]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
'orange' in basket

True

In [199]:
'crabgrass' in basket

False

In [200]:
a = set('abracadabra') ; b=set('alacazam') 
a # unique letters in a

{'a', 'b', 'c', 'd', 'r'}

In [201]:
a - b #letters in a but not in b

{'b', 'd', 'r'}

In [202]:
a | b #letters in a or b or both

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [203]:
a & b #letters in both a and b

{'a', 'c'}

In [205]:
a^b # letters in a or b but not both

{'b', 'd', 'l', 'm', 'r', 'z'}

In [207]:
a.difference(b)

{'b', 'd', 'r'}

In [208]:
a.union(b)

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [209]:
a.issubset(b) # a<=b

False

In [210]:
a.issuperset(b) #a>=b

False

### Built-in Set Functions & Methods
### - Python includes the following set functions and methods

### len(x) : Returns the number of elements in the set
### x.add(element) : Adds a specified element to the set (한개추가)
### x.update(elements) : Adds specified elements to the set (여러개추가)
### x.discard(element) : Removes an element from the set
### x.remove(element) : Removes an element from the set (raises an error if not found) 
### x.clear() : Removes all elements from the set

In [213]:
x = set(['MSFT', 'GOOG', 'AAPL'])

In [214]:
x.add('CSCO') 
x

{'AAPL', 'CSCO', 'GOOG', 'MSFT'}

In [215]:
x.update(['HPQ' ,'MSFT'])
x

{'AAPL', 'CSCO', 'GOOG', 'HPQ', 'MSFT'}

In [217]:
x.discard('HPQ')
x

{'AAPL', 'CSCO', 'GOOG', 'MSFT'}

In [218]:
x.discard('HPQ')
x

{'AAPL', 'CSCO', 'GOOG', 'MSFT'}

In [219]:
x.remove('HPQ')
x

KeyError: 'HPQ'

In [220]:
x.clear()
x

set()

### Coping set
### - You can also use the method copy, to make a separate modifiable copy of a set

In [221]:
a

{'a', 'b', 'c', 'd', 'r'}

In [222]:
c = a.copy()
c.add('p') 
c

{'a', 'b', 'c', 'd', 'p', 'r'}

In [223]:
a

{'a', 'b', 'c', 'd', 'r'}